* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#background {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    z-index: -1;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.form-wrapper {
    margin: 0 auto;
    padding-top: 16vh;
    width: 360px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #8484841d;
    padding: 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.4s;
}

.form-container:hover {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: #8338FF;
}

.form-header {
    margin-top: 40px;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.form-label {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: block;
}

.form-input {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    border: 1px solid #848484;
    box-sizing: border-box;
    padding: 0px 8px;
    transition: 0.4s;
}

.form-input:hover,
.form-input:focus {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: white;
}

.form-input::placeholder {
    color: #848484;
}

.form-button {
    color: #8338FF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    margin-top: 35px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 25px;
    background-color: #e1c4ffe0;
    border: 1px solid #E1C4FF;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 40px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
}

.form-button:disabled {
    color: #E1C4FF;
    border: 1px solid #848484;
    background-color: rgba(255, 255, 255, 0.4);
}

.form-button:active {
    background-color: #E1C4FF;
    border: 1px solid #E1C4FF;
    color: white;
}

.form-slide {
    display: flex;
    flex-direction: column;
}

.form-page {
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.form-page.active {
    display: block;
}

.success-message,
.failure-message,
.failure-message2,
.failure-message3,
.failure-message4,
.pwsuccess-message,
.pwfailure-message,
.pwfailure-message2,
.pwfailure-message3,
.pwfailure-message4,
.pwfailure-message5,
.emsuccess-message,
.emfailure-message,
.emfailure-message2,
.nnsuccess-message,
.nnfailure-message,
.nnfailure-message2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
    position: relative;
}

.success-message,
.pwsuccess-message,
.emsuccess-message,
.nnsuccess-message {
    color: #8338FF;
}

.pwfailure-message,
.failure-message,
.failure-message2,
.failure-message3,
.failure-message4,
.pwfailure-message,
.pwfailure-message2,
.pwfailure-message3,
.pwfailure-message4,
.pwfailure-message5,
.emfailure-message,
.emfailure-message2,
.nnfailure-message,
.nnfailure-message2 {
    color: red;
}

.hide {
    display: none;
}

#fu {
    position: fixed;
    bottom: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 16px;
    padding-left: 16px;
    background-color: black;
}

#fu1 > a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-right: auto;
    line-height: 20px;
    display: flow-root;
    font-family: Arial, Helvetica, sans-serif;
}

#fu1 {
    margin-right: auto;
    line-height: 20px;
    display: flow-root;
    font-family: Arial, Helvetica, sans-serif;
}

.fu2 > a{
    margin-right: 12px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 22px;
    display: flow-root;
    font-family: Arial, Helvetica, sans-serif;
}